@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

#addAnother {
  text-align: center;
  font-size: 50px;
  color: rgb(5, 5, 5);
  margin-top: 150px;
}
.button-group-2 .button {
  margin-top: 5px;
}
.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.button-group-1 {
  margin-top: 20px;
}
.options {
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 15px;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}
.button-group-2 {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 50px;
}